/* Aplica para todas la etiqueta p 
p{
    background-color: red;
    color: white;
    text-align: center;
}
/* Diseños Por clases 

.list{
    background-color: yellow;
    color: black;
}
.table{
    background-color: blue;
    text-align: center;
    color: white;
}
.title{
    background-color: #0052e0b3;
    color: #ffffff;
    text-align: center;

} */


	/* Sticky footer styles-------------------------------------------------- */
	html {
	  position: relative;
	  min-height: 100%;
	}
	body {
	  /* Margin bottom by footer height */
	  margin-bottom: 60px;
	}
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	  background-color: #f5f5f5;
	}

	/* Custom page CSS
	-------------------------------------------------- */
	/* Not required for template or sticky footer method. */

	body > .container {
	  padding: 60px 15px 0;
	}
	.container .text-muted {
	  margin: 20px 0;
	}

	.footer > .container {
	  padding-right: 15px;
	  padding-left: 15px;
	}

	code {
	  font-size: 80%;
	}

